.u-section-1 {
    background-image: url("../images/social-network.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 588px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 485px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 371px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 278px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 175px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 1193px;
}

.u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin: 73px auto 0 39px;
}

.u-section-2 .u-list-1 {
    width: 629px;
    grid-template-rows: auto auto auto;
    margin: 49px 232px 60px auto;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    min-height: 883px;
}

.u-section-2 .u-container-layout-1 {
    padding: 13px 30px;
}

.u-section-2 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 24px 20px 0;
}

.u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin: -62px 11px -3px 104px;
}

.u-section-2 .u-container-layout-2 {
    padding: 13px 30px;
}

.u-section-2 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin: 24px 20px 0;
}

.u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin: -62px 11px -3px 104px;
}

.u-section-2 .u-container-layout-3 {
    padding: 13px 30px;
}

.u-section-2 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin: 24px 20px 0;
}

.u-section-2 .u-text-4 {
    font-size: 1.875rem;
    margin: -62px 11px -3px 104px;
}

.u-section-2 .u-container-layout-4 {
    padding: 13px 30px;
}

.u-section-2 .u-icon-4 {
    height: 64px;
    width: 64px;
    margin: 24px 20px 0;
}

.u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin: -62px 11px -3px 104px;
}

.u-section-2 .u-container-layout-5 {
    padding: 13px 30px;
}

.u-section-2 .u-icon-5 {
    height: 64px;
    width: 64px;
    margin: 24px 20px 0;
}

.u-section-2 .u-text-6 {
    font-size: 1.875rem;
    margin: -62px 11px -3px 104px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-list-1 {
        height: auto;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-list-1 {
        margin-right: 91px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-list-1 {
        width: 540px;
        margin-right: 0;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-2 {
        margin-right: 0;
        margin-left: 115px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-3 {
        margin-right: 0;
        margin-left: 115px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-4 {
        margin-right: 0;
        margin-left: 115px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-5 {
        margin-right: 0;
        margin-left: 115px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-6 {
        margin-right: 0;
        margin-left: 115px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-list-1 {
        width: 340px;
    }
}